* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Karla);
@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Arimo);
@import url(https://fonts.googleapis.com/css?family=Oxygen:300);
@import url(https://fonts.googleapis.com/css?family=Nunito:300);



body {
	background-color: #eaedec;
	font-family: 'Arimo', sans-serif;
	font-size: 12px;
	width: 100%;

}

h1, h2, h3 {
	font-weight: 100;
}

h1{
	font-family: 'Arial';
	font-size: 4em;
}

h2 {
	font-size: 3em;
}

h3{
	font-size: 1.5em;
}

a {
	color: #dd0000;
	text-decoration: none;
}

header {
	padding: 30px 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

nav {
	font-family: 'Arimo', sans-serif;
	font-size: 2em;
	height: 8em;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

nav a {
	color: white;
	background-color: #0348af;
	text-decoration: none;
	text-align: left;
	display: block;
	float: left;
	width: 8em;
	height: 8em;
	padding: 6em 0em .5em 1em;
	margin-left: 1em;
}

a:hover {
	background-color: #3f3f3f;
}

p {
	color: #191919;
	line-height: 1.5em;
	padding-right: 2em;
	padding-left: 2em;
}


aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 1em;
	margin: 0em 0 0 1%;
	width: 66%;
	float: left;

}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 1em;
	width: 33%;
	float: right;

}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 2em;
	clear: both;
}

.clearfix:after {
	visibility; hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

#picture {
	width: 100%;
}

#logo {
	width: 25em;
	height: 15em;
	padding: 10em 0em .5em 2em;
	background-color: white;
}

@media only screen and (max-width: 786px) {
#picture, #book {
	float: none;
	width: auto;
	}

#picture img {
		width: 320px;
	}

#book img {
		width: 50px;
	}

}
