body {
background: url("http://ingridkennedy.github.io/unit_3/images/backgroundsm.jpg");
background-size: cover;
}


h1 {
	font-family: Arial;
	color: #FFA2C9;
	font-size: 24px;
	text-align: center;
}
p {
	color: pink;
	font-family: Arial;


 }
ul
li
img
#slogan

