@import url(https://fonts.googleapis.com/css?family=Voces);
@import url(https://fonts.googleapis.com/css?family=Arvo);

body {
background: url("http://ingridkennedy.github.io/unit_3/images/backgroundsm.jpg");
background-size: cover;
}


h1 {
	font-family: 'Voces', cursive;
	color: #FFA2C9;
	font-size: 24px;
	text-align: center;
}
p {
	font-family: 'Arvo', serif;
	color: pink;
	font-family: Arial;
	padding-right: 20px;
	padding-left: 20px;
 }
ul
li
img
#slogan

	font-family: 'Arvo', serif;
